@model OnlineTicariOtomasyon.Models.Classes.Stuff
@{
    ViewBag.Title = "AddStuff";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br>
<h2>New Stuff Page</h2>
<br />
@using (Html.BeginForm("AddStuff", "Stuff", FormMethod.Post,new {enctype="multipart/form-data" }))
{
<form class="form-group" method="post">
    @Html.LabelFor(x => x.StaffName)
    @Html.TextBoxFor(x => x.StaffName, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.StuffSurname)
    @Html.TextBoxFor(x => x.StuffSurname, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.StuffImage)
    @*@Html.TextBoxFor(x => x.StuffImage, new { @class = "form-control" })*@
    <input type="file" name=" StuffImage" />
    <br />
    @Html.LabelFor(x => x.Department)
    @Html.DropDownListFor(x => x.DepartmentId, (List<SelectListItem>)ViewBag.getStuff, new { @class = "form-control" })
    <br />
    <button class="btn btn-outline-success">Save</button>
</form>
}